*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
#app/libs/
app/release/
#libs/
release/
src/main/java/shishicai/com/dubo/weidet/dialog/
